# CMake
cmake-build-*/
**/Makefile
**/CMakeCache.txt
**/CMakeListsPrivate.txt
**/CMakeScripts
**/CMakeFiles/
**/cmake_install.cmake
**/install_manifest.txt
**/CTestTestfile.cmake
**/*.cbp
**/compile_commands.json

# Editor directories and files
.pio
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
